<div>
  <div>
    <h1>
      <%= @the_board.name %>
    </h1>
    <div> <%= alert %></div>
    <hr>

    <h2>Add a new post</h2>
    <form action="/insert_post" method="post">
      <div>
        <label for="title_box">Title</label>
        <input type="text" name="query_title" id="title_box">
      </div>

      <div>
        <label for="body_box">Body</label>
        <textarea name="query_body" id="body_box" rows="3"></textarea>
      </div>

      <div>
        <label for="expire_box">Expires on</label>
        <input type="date" name="query_expires_on" id="expire_box">
      </div>

      <div>
        <input type="hidden" id="board_id_field" name="query_board_id" value="<%= @the_board.id %>">
      </div>

      <div>
        <button>Add post</button>
      </div>
    </form>
    
   
  </div>
</div>

<hr>

<h2>Active posts</h2>
<table border="1">
  <th>Title</th>
  <th>Body</th>
  <th>Posted on</th>
  <th>Expires on</th>

  <% active_posts = [] %>
  <% expired_posts = [] %>
  <% list_of_posts = Post.all %>
  <% matching_posts = Post.where({ board_id: @the_board.id }).order({ expires_on: :asc }) %>
  <% matching_posts.each do |a_post| %>
    <% if a_post.expires_on < Date.today %>
      <% expired_posts.push(a_post) %>
    <% else %>
      <% active_posts.push(a_post) %>
    <% end%>
  <% end %>
  <% active_posts.each do |a_post| %>
    <tr>
      <td><%= a_post.title %></td>
      <td><%= a_post.body %></td>
      <td><%= a_post.created_at.strftime("%b %e, %Y") %></td>
      <td><%= a_post.expires_on.strftime("%b %e, %Y") %></td>
    </tr>
  <% end%>
</table>


<hr>

<h2>Expired posts</h2>
<table border="1">
  <th>Title</th>
  <th>Body</th>
  <th>Posted on</th>
  <th>Expired on</th>

  <% expired_posts.each do |a_post| %>
    <tr>
      <td><%= a_post.title %></td>
      <td><%= a_post.body %></td>
      <td><%= a_post.created_at.strftime("%b %e, %Y") %></td>
      <td><%= a_post.expires_on.strftime("%b %e, %Y") %></td>
    </tr>
  <% end%>
</table>
